{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="layout_padding">
  <form method="post" action="">
    {% csrf_token %}
    <div class="screen-1">
      <div class="email">
        <label for="email">Username</label>
        <div class="sec-2">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="text" name="username" id="username" class="form-control" required>
        </div>
      </div>
      <div class="password">
        <label for="password">Password</label>
        <div class="sec-2">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>
      </div>
      <button class="login">Login </button>
      <a href="{% url 'register' %}">Register</a>
      <div></div><span>Forgot Password?</span></div>
    </div>
  </form>
</div>
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock %}


